.edit-button {
    height: 24px;
    width: 90px;
    margin: 5px 5 px;
    padding: 0 0 5em;
}

.parallax-container {
    min-height: 300px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 30%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 10px;
    margin-left: 30px;
}

.btn.btn_small {
    padding: 0 0 0;
}

.edit-button {
    margin-left: 50em;
}

.title {
    font-size: xx-large
}

body {
    background-color: #fff3e0;
}
