<!DOCTYPE html>
<html>

<head>
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="amber darken-4">
        <div class="nav-wrapper">
            <a href="{{url_for('get_recipes')}}" class="brand-logo">RecipePal</a>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                <li><a href="{{url_for('get_all_recipes')}}">All Recipes </a></li>
                <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                <li><a href="{{url_for('get_categories')}} ">Categories</a></li>


            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                <li><a href="{{url_for('get_all_recipes')}}">All Recipes </a></li>
                <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                <li><a href="{{url_for('get_categories')}} ">Categories</a></li>

            </ul>
        </div>
    </nav>
</header>

<body>
    {% block content %} {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js "></script>
    <script type="text/javascript ">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.materialboxed').materialbox();
            $('.parallax').parallax();
            $(".button-collapse").sideNav();
        });
    </script>
</body>

<footer class="page-footer amber darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact Us</h5>
                <p class="grey-text text-lighten-4">info@recipeapp.com</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright RecipeApp
        </div>
    </div>
</footer>

</html>
