{% extends 'base.html'%} {% block content %}

<ul class="collapsible">
    <li>
        <div>
            <div class="col s6">
                <h3><strong>{{recipe.recipe_name}}</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <p><strong>Preparation Time</strong> - {{recipe.preparation_time}}
                </p>
            </div>
            <div class="input-field col s4">
                <p><strong>Cooking Time</strong> - {{recipe.cooking_time}}
                </p>
            </div>
            <div class="input-field col s4">
                <p><strong>Serving</strong> - {{recipe.serving}}
                </p>
            </div>
            <div class="input-field col s12">
                <p><strong>Cuisine</strong> - {{recipe.cuisine_name}}
                </p>
            </div>
            <div class="input-field col s12">
                <p><strong>Description</strong> - {{recipe.recipe_description}}
                </p>
            </div>
            <div class="input-field col s12">
                <p><strong>Ingredients</strong> -{{recipe.ingredients}}
                </p>
            </div>
            <div class="input-field col s12">
                <p><strong>Method</strong> -{{recipe.method}}
                </p>
            </div>
            <div class="input-field col s12">
                <p><strong>Tips</strong> -{{recipe.tips}}
                </p>
            </div>
            <div class="input-field col s12">
                <p><strong>Author</strong> -{{recipe.username}}
                </p>
                <div class="col 3 center">
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light amber center btn">Edit</a>

                    <br><br>
                </div>
            </div>
        </div>
    </li>
</ul>
</form>
</div>
{% endblock %}
