{% extends 'base.html'%} {% block content %}


<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container valign">
      <br><br>
      <h1 class="header center grey-text text-darken-2">RecipePal</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-2">Find what you're hungry for.</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{{url_for('static', filename='images/cookbook.jpg')}}" alt="Unsplashed background img 2"></div>
</div>
<div class="container center">
  <h2>Latest Posts</h2>
</div>
<div class="container" id="startPosts">
  <br>
  <br> {% for recipe in recipes %}
  <div class="col s12 m7">
    <h2 class="header">{{recipe.recipe_name}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <a href="{{url_for( 'read_recipe', recipe_id=recipe._id)}}" class="collection-item black-text"><img src="{{recipe.image_link}}"></a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{recipe.recipe_description}}</p>
        </div>
        <div class="card-action">
          <a href="{{url_for( 'read_recipe', recipe_id=recipe._id)}}" class="collection-item black-text">View Recipe</a>
        </div>
      </div>
    </div>
  </div>
  <br> {% endfor %}

  <div class="col s12 m10 offset-m1 l9 offset-l1 ">
  </div>
</div>
</div>


<!--  Scripts-->

<script>
  $('.head-link').click(function(e) {
    e.preventDefault();

    var goto = $(this).attr('href');
    $('html, body').animate({
      scrollTop: $(goto).offset().top
    }, 800);
  });
</script>

{% endblock %}
